<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">All Device Groups</h1>
    </div>

    <div class="row">
        {{#each deviceGroups}}
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{id}}</h5>
                    <p class="card-text"> {{count}} devices</p>
                    <a href="/device-groups/{{id}}" class="btn btn-primary">View devices</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>